.castList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.castList li{
    width: 200px;
}

.castList img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #545454;
}

.castList span{
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 4/6;
    border-radius: 10px;
    background-color: #545454;

    font-size: 30pt;
    font-weight: 700;
}

.castList p {
    font-size: 16pt;
    margin-top: 6px;
}

.castList p:last-child{
    font-size: 14pt;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .castList li {
        width: calc((100% - 80px)/4);
    }
}

@media screen and (max-width: 768px) {
    .castList li {
        width: calc((100% - 60px)/3);
    }
}

@media screen and (max-width: 500px) {
    .castList li {
        width: calc((100% - 40px)/2);
    }
}