.filterWrapper{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.filter{
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterLink {
  padding: 5px 10px;
  color: #fff;
  background-color: #636363;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  opacity: 0.4;
  font-size: 18pt;
}

.filterLink:hover {
  background-color: #626262;
  opacity: 0.9;
}

.filterLink.active {
  background-color: #626262;
  opacity: 0.9;
}