.moviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
    max-width: 1380px;
    margin: 0 auto;
}

.notFound{
    padding: 60px 40px;
    font-size: 16pt;
}

.notFound p:first-child{
    font-size: 28pt;
}

@media screen and (max-width: 768px) {
    .moviesList {
        padding: 30px 0 ;
        gap: 12px;
    }

    .notFound {
        padding: 20px 10px;
        font-size: 16pt;
    }

    .notFound p:first-child {
        font-size: 20pt;
    }
}