.movie{
    padding: 40px;
}

.backLink{
    color: #fff;
    font-size: 18pt;
}

.movieInfo{ 
    display: flex;
    gap: 60px;
}

.title{
    font-size: 36pt;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .movie {
        padding: 20px;
    }

    .title {
        font-size: 28pt;
        margin-bottom: 20px;
    }

    .backLink {
        font-size: 16pt;
    }

    .movieInfo {
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media screen and (max-width: 425px) {
    .movie {
        padding: 10px;
    }

    .title {
        font-size: 24pt;
        margin-bottom: 10px;
    }

    .backLink {
        font-size: 14pt;
    }

}