
.wrapper{
    padding: 40px;
    background-color: #2e2e2e;
    min-height: 100vh;
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

.backLink{
    color: #fff;
    font-size: 18pt;
}

.wrapper > div{ 
    display: flex;
    gap: 120px;
}

.wrapper h1{
    font-size: 36pt;
    margin-bottom: 20px;
}

.moviePoster img {
    width: 400px;
    border-radius: 6px;
}

.customPoster{
    display: grid;
    place-items: center;
    width: 400px;
    height: 600px;
    background-color: #484848;
    border-radius: 6px;
    font-size: 28pt;
    font-weight: 700;
    text-align: center;
}

.moviePoster a{
    display: grid;
    place-items: center;
    height: 40px;
    width: 180px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    font-size: 14pt;
    text-decoration: none;
    opacity: 0.8;
    margin-top: 15px;
}

.movieInfo{
    font-size: 16pt;
}

.movieInfo p{
    margin-bottom: 15px;
}

.movieInfo p span{
    opacity: 0.7;
}

.overview{
    max-width: 800px;
}

.wrapper .movieSubInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.movieNav{
    display: flex;
    gap: 20px;
}

.movieNav a {
    font-size: 24pt;
    color: #fff;
    text-decoration: none;
}

.movieNav a.active{
    color: #ff4800;
}

.loading {
    text-align: center;
    color: #fff;
    font-size: 20pt;
    padding: 10px 0;
}