.movie{
    padding: 40px;
}

.backLink{
    color: #fff;
    font-size: 18pt;
}

.movieInfo{ 
    display: flex;
    gap: 120px;
    background-image: url();
}

.title{
    font-size: 36pt;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .movieInfo{
        flex-wrap: wrap;
        gap: 60px;
    }

}