.sliderItem {
  margin: 0 10px;
  transition: transform .2s linear;
}

.sliderItem a {
  color: #fff;
  font-size: 10pt;
  text-decoration: none;
}

.sliderItem img {
  width: 100%;
  height: auto;
  background-color: gray;
  border-radius: 10px;
}

.sliderItem:hover, .sliderItem:focus{
  position: relative;
  transform: translateY(10px);
}

.sliderItem div {
  height: 72px;
  padding: 6px 0;
}

.sliderItem div p:first-child{
  display: -webkit-box;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .sliderItem {
    margin: 0 6px;
  }
}