.moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  max-width: 1380px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .moviesList {
    gap: 10px;
  }
}