.sliderItem{
  margin: 0 10px;
  aspect-ratio: 2/4;
}

.sliderImg {
  aspect-ratio: 2/3;
  border-radius: 10px;
  background-color: rgb(71, 71, 71);
}

.sliderInfo {
  height: 72px;
  pointer-events: none;
  padding: 6px 0;
}

@media screen and (max-width: 768px) {
  .sliderItem {
    margin: 0 6px;
  }
}