.moviesListItem {
    width: calc((100% - 80px) / 5);
}

.moviesListItem a {
    color: #fff;
    font-size: 16pt;
    text-decoration: none;
}

.moviesListItem img{
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

.moviesListItem div {
    padding: 6px 0;
}

.moviesListItem span{
    display: grid;
    place-items: center;
    width: 200px;
    height: 300px;
    background-color: gray;
    border-radius: 10px;

    color: rgb(153, 153, 153);
    font-size: 40pt;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
}