.top {
  display: flex;
  align-items: center;
  font-size: 18pt;
  gap: 10px;
}

.filterLink {
  padding: 5px 10px;
  color: #fff;
  background-color: #636363;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  opacity: 0.4;
}

.filterLink:hover, .filterLink.active{
  text-decoration: none;
  background-color: #626262;
  opacity: 0.9;
}

@media screen and (max-width: 500px) {
  .top {
    font-size: 14pt;
  }

  .filterLink {
    padding: 3px 8px;
  }
}