.top {
  display: flex;
  align-items: center;
  font-size: 18pt;
  gap: 10px;
}

.filterLink {
  padding: 5px 10px;
  color: var(--white);
  background-color: var(--gray-light);
  border: none;
  border-radius: 6px;
  font-size: 18pt;
  transition: background-color .3s linear, opacity .3s linear;
  opacity: 0.6;

  &:hover,
  &.active {
    background-color: var(--orange);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .top {
    font-size: 14pt;
  }

  .filterLink {
    padding: 3px 8px;
  }
}