.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 40px;
    width: 100%;
    height: 80px;
    background-color: #444;
}

.navLink{
    color: #fff;
    font-size: 24pt;
    text-decoration: none;
}

.navLink:hover{
    text-decoration: underline;
}

.navLink.active{
    color: #ff4800;
}