.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.pagination button:not(.pagPrev,
.pagNext){
  height: 36px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  background-color: transparent;
  font-size: 15pt;
  color: #fff;
  transition: background-color .2s linear;
  opacity: 0.6;
}

.pagination button:hover{
  background-color: #8a8a8a7b;
}

.pagination button.active{
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.pagList{
  display: flex;
  gap: 10px;
}

.pagElse{
  display: flex;
  align-items: end;
  font-size: 16pt;
}

.pagPrev, .pagNext{
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
  width: 34px;
  height: 34px;
  padding: 0;
  border-radius: 50%;
  font-size: 14pt;
  font-weight: 700;
  color: #fff;
  transition: background-color .2s linear;
}