.moviesListItem {
    width: calc((100% - 80px) / 5);
}

.moviesListItem a {
    color: #fff;
    font-size: 16pt;
    text-decoration: none;
}

.moviesListItem img{
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    transition: transform .3s linear;
}

.moviesListItem:hover img,
.moviesListItem:focus img{
    transform: scale(1.03);
}

.moviesListItem div {
    padding: 6px 0;
}

@media screen and (max-width: 768px) {
    .moviesListItem {
        width: calc((100% - 40px) / 4);
    }

    .moviesListItem a {
        font-size: 12pt;
    }
}

@media screen and (max-width: 600px) {
    .moviesListItem {
        width: calc((100% - 24px) / 3);
    }
}

@media screen and (max-width: 500px) {
    .moviesListItem {
        width: calc((100% - 12px) / 2);
    }
}