.moviesListItem {
    width: calc((100% - 80px) / 5);
}

.moviesListItem a {
    color: #fff;
    font-size: 16pt;
    text-decoration: none;
}

.moviesListItem img{
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

.moviesListItem div {
    padding: 6px 0;
}