.showListItem {
    width: calc((100% - 80px) / 5);
}

.showListItem a {
    color: #fff;
    font-size: 16pt;
    text-decoration: none;
}

.showListItem img{
    width: 100%;
    min-height: 324px;
    background-color: gray;
    border-radius: 10px;
}

.showListItem div {
    padding: 6px 0;
}
