.showListItem {
    position: relative;
    width: calc((100% - 80px) / 5);
}

.icon{
    position: absolute;
    top: 10px;
    right: -7px;
    width: 20%;
    height: 8%;
    display: grid;
    place-items: center;
    background-color: rgb(225, 73, 3);
    border-radius: 4px;
    z-index: 99;
    transition: transform .3s linear;
}

.showListItem a {
    color: #fff;
    font-size: 16pt;
    text-decoration: none;
}

.showListItem img{
    width: 100%;
    aspect-ratio: 2/3;
    background-color: rgb(71, 71, 71);
    max-height: 324px;
    background-color: gray;
    border-radius: 10px;
    transition: transform .3s linear;
}

.showListItem:hover img,
.showListItem:focus img {
    transform: scale(1.03);
}

.showListItem:hover .icon,
.showListItem:focus .icon {
    transform: translate(7%, -12%);
}

.showListItem div {
    padding: 6px 0;
}

@media screen and (max-width: 768px) {
    .showListItem {
        width: calc((100% - 40px) / 4);
    }

    .showListItem a {
        font-size: 12pt;
    }
}

@media screen and (max-width: 600px) {
    .showListItem {
        width: calc((100% - 24px) / 3);
    }
}

@media screen and (max-width: 500px) {
    .showListItem {
        width: calc((100% - 12px) / 2);
    }
}