.slider{
  max-width: 100%;
  padding: 40px 50px;
  height: 100%;
}

.slider button{
  position: absolute;
  top: 36%;
  z-index: 99999;
  opacity: 0.7;
}

.slider button::before{
  font-size: 28pt;
}

.slider button:first-child{
  left: 12px;
}

.slider button:last-child{
  right: 28px;
}

@media screen and (max-width: 768px) {
  .slider{
    padding: 30px 40px 15px;
  }

  .slider button {
    top: 38%;
  }

  .slider button::before{
    font-size: 24pt;
  }

  .slider button:first-child {
    left: 8px;
  }

  .slider button:last-child {
    right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .slider {
      padding: 30px 40px 5px;
    }
}