.slider{
  max-width: 100%;
  padding: 40px 50px;
  height: 100%;

  button {
    position: absolute;
    top: 36%;
    z-index: 99999;
    opacity: 0.7;

    &:before {
      font-size: 28pt;
    }

    &:first-child {
      left: 12px;
    }

    &:last-child {
      right: 28px;
    }
  }
}

@media screen and (max-width: 768px) {
  .slider{
    padding: 30px 40px 15px;
    button {
      top: 38%;
      &::before {
        font-size: 24pt;
      }
      &:first-child {
        left: 8px;
      }
      &:last-child {
        right: 20px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .slider {
      padding: 30px 40px 5px;
    }
}