.slider{
  max-width: 100%;
  padding: 40px 50px;
  height: 100%;
}

.slider button{
  position: absolute;
  top: 36%;
  z-index: 99999;
  opacity: 0.7;
}

.slider button::before{
  font-size: 28pt;
}

.slider button:first-child{
  left: 12px;
}

.slider button:last-child{
  right: 28px;
}
