.tvList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 40px;
    max-width: 1380px;
    margin: 0 auto;
}

.notFound{
    padding: 60px 40px;
    font-size: 16pt;
}

.notFound p:first-child{
    font-size: 28pt;
}