.backLink {
  color: #fff;
  font-size: 18pt;
}

.movieInfo, .overview {
  font-size: 16pt;
  width: 100%;
  max-width: 800px;

  & span{
    opacity: 0.7; 
  }
}

.movieInfo p {
  margin-bottom: 15px;
}