.homepage {
  position: relative;
}

.homeContent{
  position: relative;
  padding: 0 40px 40px;
}

.loading {
  position: absolute;
  top: 80px;
  left: 40px;
  font-size: 12pt;
}

.watch{
  font-size: 24pt;
}